<nav class="navbar navbar-expand-lg" style="padding-top: 1%;">
    <div class="container" *ngIf="data">

        <!-- Logo -->
        <a class="logo" href="">
            <img [src]="storageUrl +'/img/bannerPrincipal/'+ data.bannerPrincipal|safe" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                    <!--
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="index.html">Main Home</a>
                        <a class="dropdown-item" href="index2.html">Creative Agency</a>
                        <a class="dropdown-item" href="index5.html">Digital Agency</a>
                        <a class="dropdown-item" href="index4.html">Business One Page</a>
                        <a class="dropdown-item" href="index3.html">Corporate Business</a>
                        <a class="dropdown-item" href="index6.html">Modern Agency</a>
                        <a class="dropdown-item" href="index7.html">Freelancer</a>
                        <a class="dropdown-item" href="index8.html">Architecture</a>
                    </div>
                    -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        {{ title.titleServicio }}
                    </a>

                    <div class="dropdown-menu">

                        <a *ngFor="let service of services" class="dropdown-item" [href]="service.url">
                            {{service.nombre}}
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" target="_blank">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contáctanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>