<div class="loading">
    <span>L</span>
    <span>o</span>
    <span>a</span>
    <span>d</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
</div>

<div id="preloader">
</div>

<ng-container>
    <app-navbar></app-navbar>
</ng-container>
<router-outlet></router-outlet>
<ng-container>
    <app-footer></app-footer>
</ng-container>


<a *ngIf="data" href="https://wa.me/51{{data.telefono1}}?text=Me%20gustaría%20saber%20el%20precio%20del%20coche"
    class="whatsapp" target="_blank">
    <i class="fa fa-whatsapp whatsapp-icon"></i>
</a>