@import "swiper/modules/free-mode/free-mode.min.css";
@import "swiper/modules/navigation/navigation.scss";
@import "swiper/modules/thumbs/thumbs.min.css";
.whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 90px;
  right: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 26px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.mt-1 {
  margin-top: 1%;
}

.mb-1 {
  margin-bottom: 1%;
}

pr-05 {
  padding-right: 0.5%;
}
pl-05 {
  padding-left: 0.5%;
}
