<header class="slider slider-prlx fixed-slider text-center">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper altutra" *ngIf="sliders">
            <swiper (swiper)="onSwiper($event)" [loop]="true" [speed]="600" [autoplay]="{
                delay: 3000,
                disableOnInteraction: false
                }" [parallax]="true" [pagination]="{
                  clickable: true,
                  type: 'fraction'
                }" [navigation]="true" (slideChange)="onSlideChange()" class="mySwiper">
                <div slot="container-start" class="parallax-bg"
                    style="background-image: url(https://swiperjs.com/demos/images/nature-1.jpg)"
                    data-swiper-parallax="-23%">
                </div>
                <ng-template swiperSlide *ngFor="let slider of sliders">
                    <div class="bg-img valign"
                        [ngStyle]="{'background-image': 'url(' + storageUrl +'/img/sliders/'+ slider.imagen + ')'}"
                        data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center" style="float: left!important;">
                                <div class="col-lg-8 col-md-10">
                                    <div class="caption center mt-30">
                                        <div [outerHTML]="slider.texto"></div>
                                        <a *ngIf="slider.url" [href]="slider.url" target="_blank"
                                            class="butn bord curve mt-30">
                                            <span>Ver</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
        <div class="social-icon" *ngIf="networks">
            <a href=""><i class=" fab fa-facebook-f" [ngStyle]="{'color' :networks.colorFondo }"></i></a>
            <a href=""><i class="fab fa-twitter" [ngStyle]="{'color' :networks.colorFondo }"></i></a>
            <a href=""><i class="fab fa-instagram" [ngStyle]="{'color' :networks.colorFondo }"></i></a>
            <a href=""><i class="fab fa-whatsapp" [ngStyle]="{'color' :networks.colorFondo }"></i></a>
            <a href=""><i class="fab fa-linkedin" [ngStyle]="{'color' :networks.colorFondo }"></i></a>
        </div>
    </div>
</header>

<div class="main-content">

    <section class="services bords section-padding pt-10" style="padding-bottom: 0%;">
        <div class="container" style="max-width: 100%;">
            <div class="row" *ngIf="title">
                <div class="col-lg-6 wow fadeInLeft" *ngIf="title.tituloServicioVisible === 'SI'" data-wow-delay=".5s">
                    <div class="form-group has-error has-danger controls">
                        <select name="" id="" class="form-control form-group">
                            <option value="">Productos</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-12 wow fadeInLeft" *ngIf="title.tituloServicioVisible !== 'SI'" data-wow-delay=".5s">
                    <div class="form-group has-error has-danger controls">
                        <select name="" id="" class="form-control form-group">
                            <option value="">Productos</option>
                        </select>
                    </div>
                </div>


                <div class="col-lg-6 wow fadeInLeft" *ngIf="title.tituloServicioVisible === 'SI'" data-wow-delay=".7s">
                    <div class="form-group has-error has-danger controls">
                        <select name="" id="" class="form-control form-group" onchange="redireciona()">
                            <option value="null">{{title.titleServicio}}</option>

                            <option [value]="service.url" *ngFor="let service of services">
                                <a [href]="service.url" target="_blank">{{service.nombre}}</a>
                            </option>
                        </select>
                    </div>
                </div>
                <!--
                <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box">
                        <span class="icon pe-7s-display1"></span>
                        <h6>Social media Marketing</h6>
                        <p>Tempore corrupti temporibus fuga earum asperiores fugit.</p>
                    </div>
                </div>
                -->
            </div>
        </div>
    </section>

    <section class="services bords section-padding pt-10" style="padding-bottom: 0%;">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".5s" *ngFor="let button of buttons">
                    <div class="form-group has-error has-danger controls">

                        <a [href]="button.url" class="btn " target="_blank"
                            style="width: 100%;color:white;height: auto;padding: 0%;"
                            [ngStyle]="{'background' : button.colorFondo}">
                            {{button.nombre}}
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services bords section-padding pt-10">
        <div class="container" style="max-width: 100%;">
            <div class="row" *ngIf="publications">
                <ng-container *ngFor="let publication of publications">

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 1' ">

                        <div *ngIf="publication.idConfiguracion == 1" class="col-lg-12 wow fadeInLeft mt-1 mb-1">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div *ngIf="publication.idConfiguracion == 2" class="col-lg-12 wow fadeInLeft mt-1 mb-1">
                            <app-publication-type-two [publication]="publication"></app-publication-type-two>
                        </div>

                        <div class="col-lg-12 wow fadeInLeft mt-1 mb-1" *ngIf="publication.idConfiguracion == 3">
                            <app-publication-type-three [publication]="publication"></app-publication-type-three>
                        </div>

                        <div class="col-lg-12 col-sm-12 mt-1 mb-1" *ngIf="publication.idConfiguracion == 5">
                            <app-publication-type-five [publication]="publication"></app-publication-type-five>
                        </div>

                        <div *ngIf="publication.idConfiguracion == 6" class="col-lg-12 col-sm-12 mt-1 mb-1 pr-05 pl-05">
                            <app-publication-type-six [publication]="publication"></app-publication-type-six>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 2'">

                        <div *ngIf="publication.idConfiguracion == 1" class="col-lg-6 col-sm-6 mt-1 mb-1 pr-05 pl-05">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div *ngIf="publication.idConfiguracion == 2" class="col-lg-6 col-6 mt-1 mb-1 pr-05 pl-05"
                            style="text-align: left">
                            <app-publication-type-two [publication]="publication"></app-publication-type-two>
                        </div>

                        <div class="col-lg-6 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 3">
                            <app-publication-type-three [publication]="publication"></app-publication-type-three>
                        </div>

                        <div class="col-lg-6 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 5">
                            <app-publication-type-five [publication]="publication"></app-publication-type-five>
                        </div>

                        <div class="col-lg-6 col-sm-12 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 6">
                            <app-publication-type-six [publication]="publication"></app-publication-type-six>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 3'">
                        <div class="col-lg-4 col-sm-12 mt-1 mb-1 pl-05 pr-05" *ngIf="publication.idConfiguracion == 1">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-12 mt-1 mb-1 pl-05 pr-05" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;">
                            <app-publication-type-two [publication]="publication"></app-publication-type-two>
                        </div>

                        <div class="col-lg-4 col-sm-12 mt-1 mb-1 pl-05 pr-05" *ngIf="publication.idConfiguracion == 3">
                            <app-publication-type-three [publication]="publication"></app-publication-type-three>
                        </div>

                        <div class="col-lg-4 col-sm-12 mt-1 mb-1 pl-05 pr-05" *ngIf="publication.idConfiguracion == 5">
                            <app-publication-type-five [publication]="publication"></app-publication-type-five>
                        </div>

                        <div class="col-lg-4 col-sm-12 mt-1 mb-1 pl-05 pr-05" *ngIf="publication.idConfiguracion == 6">
                            <app-publication-type-six [publication]="publication"></app-publication-type-six>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 4'">
                        <div class="col-lg-3 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 1">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-3 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;">
                            <app-publication-type-two [publication]="publication"></app-publication-type-two>
                        </div>

                        <div class="col-lg-3 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 3">
                            <app-publication-type-three [publication]="publication"></app-publication-type-three>
                        </div>

                        <div class="col-lg-3 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 5">
                            <app-publication-type-five [publication]="publication"></app-publication-type-five>
                        </div>

                        <div class="col-lg-3 col-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 6">
                            <app-publication-type-six [publication]="publication"></app-publication-type-six>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 5'">
                        <div class="col-lg-4 col-sm-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 1">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;">
                            <app-publication-type-two [publication]="publication"></app-publication-type-two>
                        </div>

                        <div class="col-lg-4 col-sm-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 3">
                            <app-publication-type-three [publication]="publication"></app-publication-type-three>
                        </div>

                        <div class="col-lg-4 col-sm-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 5">
                            <app-publication-type-five [publication]="publication"></app-publication-type-five>
                        </div>

                        <div class="col-lg-4 col-sm-6 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 6">
                            <app-publication-type-six [publication]="publication"></app-publication-type-six>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 6'">
                        <div class="col-lg-8 col-sm-12 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 1">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-8 col-sm-12 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;">
                            <app-publication-type-two [publication]="publication"></app-publication-type-two>
                        </div>

                        <div class="col-lg-8 col-sm-12 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 3">
                            <app-publication-type-three [publication]="publication"></app-publication-type-three>
                        </div>

                        <div class="col-lg-8 col-sm-12 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 5">
                            <app-publication-type-five [publication]="publication"></app-publication-type-five>
                        </div>

                        <div class="col-lg-8 col-sm-12 mt-1 mb-1 pr-05 pl-05" *ngIf="publication.idConfiguracion == 6">
                            <app-publication-type-six [publication]="publication"></app-publication-type-six>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </section>

    <ng-container *ngIf="title">

        <section class="work-carousel metro position-re" *ngIf="title.tituloTestimonioVisible === 'SI'">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h3 class="wow color-font">{{title.titleTestimonio}}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 no-padding">
                        <div class="swiper-container">
                            <div class="swiper-wrapper" *ngIf="testimonials">
                                <div class="swiper-slide" *ngFor="let testimonial of testimonials">
                                    <div class="content wow noraidus fadeInUp" data-wow-delay=".3s">
                                        <div class="item-img bg-img wow imago" style="text-align: center">
                                            <img [src]="storageUrl + '/img/testimonios/' + testimonial.imagen" alt=""
                                                style="height: 200px;width: auto;">

                                            <p [outerHTML]="testimonial.texto"></p>
                                            <h6 class="color-font">{{testimonial.nombre}}</h6>
                                        </div>
                                        <!--<div class="cont">
                                            <h6 class="color-font"><a href="#0">art & illustration</a></h6>
                                            <h4><a href="project-details2.html">Innovation and Crafts.</a></h4>
                                        </div>-->
                                    </div>
                                </div>
                            </div>

                            <!-- slider setting -->
                            <div class="swiper-button-next swiper-nav-ctrl simp-next cursor-pointer">
                                <span class="simple-btn right">Next</span>
                            </div>
                            <div class="swiper-button-prev swiper-nav-ctrl simp-prev cursor-pointer">
                                <span class="simple-btn">Prev</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</div>