<!-- slider -->

<header class="slider slider-prlx fixed-slider text-center">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper altutra" *ngIf="sliders">
            <div class="swiper-slide" *ngFor="let slider of sliders">
                <div class="bg-img valign" data-background="" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center" style="float: left!important;">
                            <div class="col-lg-8 col-md-10">
                                <div class="caption center mt-30">
                                    <p> {{ slider.texto}}</p>
                                    <a href="" class="butn bord curve mt-30">
                                        <span>Ver</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slider setting -->
        <div class="setone setwo">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination top botm "></div>

        <div class="social-icon">
            <a href=""><i class="fab fa-facebook-f" style="color: white"></i></a>
            <a href=""><i class="fab fa-twitter" style="color: white"></i></a>
            <a href=""><i class="fab fa-instagram" style="color: white"></i></a>
            <a href=""><i class="fab fa-whatsapp" style="color: white"></i></a>
            <a href=""><i class="fab fa-linkedin" style="color: white"></i></a>
        </div>
    </div>
</header>

<div class="main-content">

    <section class="services bords section-padding pt-10" style="padding-bottom: 0%;">
        <div class="container" style="max-width: 100%;">
            <div class="row" *ngIf="title">
                <div class="col-lg-6 wow fadeInLeft" *ngIf="title.tituloServicioVisible === 'SI'" data-wow-delay=".5s">
                    <div class="form-group has-error has-danger controls">
                        <select name="" id="" class="form-control form-group">
                            <option value="">Productos</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-12 wow fadeInLeft" *ngIf="title.tituloServicioVisible !== 'SI'" data-wow-delay=".5s">
                    <div class="form-group has-error has-danger controls">
                        <select name="" id="" class="form-control form-group">
                            <option value="">Productos</option>
                        </select>
                    </div>
                </div>


                <div class="col-lg-6 wow fadeInLeft" *ngIf="title.tituloServicioVisible === 'SI'" data-wow-delay=".7s">
                    <div class="form-group has-error has-danger controls">
                        <select name="" id="" class="form-control form-group" onchange="redireciona()">
                            <option value="null">{{title.titleServicio}}</option>

                            <option [value]="service.url" *ngFor="let service of services">
                                <a [href]="service.url" target="_blank">{{service.nombre}}</a>
                            </option>
                        </select>
                    </div>
                </div>
                @endif
                <!--<div class="col-lg-4 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box">
                        <span class="icon pe-7s-display1"></span>
                        <h6>Social media Marketing</h6>
                        <p>Tempore corrupti temporibus fuga earum asperiores fugit.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

    <section class="services bords section-padding pt-10" style="padding-bottom: 0%;">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".5s" *ngFor="let button of buttons">
                    <div class="form-group has-error has-danger controls">
                        <!-- 
                        <a [href]="button.url" class="btn " 
                            target="_blank" 
                            style="width: 100%;background : {{button.colorFondo}}; color:white;height: auto;padding: 0%;">
                            {{button.nombre}}
                        </a> 
                        -->
                        <a [href]="button.url" class="btn " target="_blank">
                            {{button.nombre}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services bords section-padding pt-10">
        <div class="container" style="max-width: 100%;">
            <div class="row" *ngIf="publications">
                <ng-container *ngFor="let publication of publications">

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 1' ">

                        <div class="col-lg-12 wow fadeInLeft" *ngIf="publication.idConfiguracion == 1"
                            style="margin-top: 1%;margin-bottom: 1%;">
                            <div [outerHTML]="publication.texto"></div>
                        </div>


                        <div class="col-lg-12 wow fadeInLeft" *ngIf="publication.idConfiguracion == 2"
                            style="margin-top: 1%;margin-bottom: 1%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <img src="'img/publicaciones/'{{publication.imagen}}" alt="" style="width: 100%;">
                            </ng-container>
                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>
                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-12 wow fadeInLeft" *ngIf="publication.idConfiguracion == 3"
                            style="margin-top: 1%;margin-bottom: 1%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <a [href]="publication.url" target="_blank">
                                    <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                                </a>
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-12 col-sm-12" *ngIf="publication.idConfiguracion == 5"
                            style="margin-top: 1%;margin-bottom: 1%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <a [href]="publication.url" target="_blank">
                                    <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                                </a>
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <div [outerHTML]="publication.texto"></div>

                        </div>

                        <div class="col-lg-12 col-sm-12 " *ngIf="publication.idConfiguracion == 6"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div class="slider slider-prlx text-center">
                                <!-- <?php $imagenes = App\Models\Imagen::where('idPublicacion', $publicacion->id)->get(); ?> -->

                                <div class="swiper-container parallax-slider">
                                    <div class="swiper-wrapper altutra">

                                        <div class="swiper-slide" style="min-height: 43vh!important;"
                                            *ngFor="let image of images">
                                            <!-- 
                                            <div class="bg-img valign"
                                                style="background-size: 100%!important;background-position: center!important;"
                                                data-background="'img/publicaciones/galeria/'.{{image.imagen}}"
                                                data-overlay-dark="6">
                                            </div> 
                                            -->
                                        </div>
                                    </div>

                                    <!-- slider setting -->
                                    <div class="setone setwo">
                                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination top botm "></div>

                                </div>
                            </div>

                            <br>
                            <a href="#" target="_blank"><span [outerHTML]="publication.texto"></span></a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 2'">

                        <div class="col-lg-6 col-sm-6" *ngIf="publication.idConfiguracion == 1"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-6 col-6" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <img src="'img/publicaciones/'{{publication.imagen}}" alt="" style="width: 100%;">
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>


                        <div class="col-lg-6 col-6" *ngIf="publication.idConfiguracion == 3"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a [href]="publication.url" *ngIf="publication.selecciona == 'Imagen';else no_image"
                                target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>
                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-6 col-6" *ngIf="publication.idConfiguracion == 5"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a *ngIf="publication.selecciona == 'Imagen';else no_image" href="" target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>
                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-6 col-sm-12" *ngIf="publication.idConfiguracion == 6"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div class="slider slider-prlx text-center">
                                <!-- <?php $imagenes = App\Models\Imagen::where('idPublicacion', $publicacion->id)->get(); ?> -->

                                <div class="swiper-container parallax-slider">
                                    <div class="swiper-wrapper altutra">

                                        <div class="swiper-slide" style="min-height: 43vh!important;"
                                            *ngFor="let image of images">
                                            <!-- 
                                            <div class="bg-img valign"
                                                style="background-size: 100%!important;background-position: center!important;"
                                                data-background="'img/publicaciones/galeria/'.{{image.imagen}}"
                                                data-overlay-dark="6">
                                            </div> 
                                        -->
                                        </div>
                                    </div>


                                    <!-- slider setting -->
                                    <div class="setone setwo">
                                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination top botm "></div>

                                </div>
                            </div>

                            <br>
                            <a href="#" target="_blank"><span [outerHTML]="publication.texto"></span></a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 3'">
                        <div class="col-lg-4 col-sm-12" *ngIf="publication.idConfiguracion == 1"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-12" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <img src="'img/publicaciones/'{{publication.imagen}}" alt="" style="width: 100%;">
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-12" *ngIf="publication.idConfiguracion == 3"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a [href]="publication.url" *ngIf="publication.selecciona == 'Imagen';else no_image"
                                target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>
                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-12" *ngIf="publication.idConfiguracion == 5"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a *ngIf="publication.selecciona == 'Imagen';else no_image" href="" target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>
                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>


                        <div class="col-lg-4 col-sm-12" *ngIf="publication.idConfiguracion == 6"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div class="slider slider-prlx text-center">
                                <!-- <?php $imagenes = App\Models\Imagen::where('idPublicacion', $publicacion->id)->get(); ?> -->

                                <div class="swiper-container parallax-slider">
                                    <div class="swiper-wrapper altutra">

                                        <div class="swiper-slide" style="min-height: 43vh!important;"
                                            *ngFor="let image of images">
                                            <!-- 
                                                <div class="bg-img valign"
                                                    style="background-size: 100%!important;background-position: center!important;"
                                                    data-background="'img/publicaciones/galeria/'.{{image.imagen}}"
                                                    data-overlay-dark="6">
                                                </div> 
                                            -->
                                        </div>
                                    </div>

                                    <!-- slider setting -->
                                    <div class="setone setwo">
                                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination top botm "></div>

                                </div>
                            </div>

                            <br>
                            <a href="#" target="_blank"><span [outerHTML]="publication.texto"></span></a>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 4'">
                        <div class="col-lg-3 col-6" *ngIf="publication.idConfiguracion == 1"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-3 col-6" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <img src="'img/publicaciones/'{{publication.imagen}}" alt="" style="width: 100%;">
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-3 col-6" *ngIf="publication.idConfiguracion == 3"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a [href]="publication.url" *ngIf="publication.selecciona == 'Imagen';else no_image"
                                target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>
                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-3 col-6" *ngIf="publication.idConfiguracion == 5"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a *ngIf="publication.selecciona == 'Imagen';else no_image" href="" target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>
                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-3 col-6" *ngIf="publication.idConfiguracion == 6"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div class="slider slider-prlx text-center">
                                <!-- <?php $imagenes = App\Models\Imagen::where('idPublicacion', $publicacion->id)->get(); ?> -->

                                <div class="swiper-container parallax-slider">
                                    <div class="swiper-wrapper altutra">

                                        <div class="swiper-slide" style="min-height: 43vh!important;"
                                            *ngFor="let image of images">
                                            <!-- 
                                                <div class="bg-img valign"
                                                    style="background-size: 100%!important;background-position: center!important;"
                                                    data-background="'img/publicaciones/galeria/'.{{image.imagen}}"
                                                    data-overlay-dark="6">
                                                </div> 
                                            -->
                                        </div>
                                    </div>

                                    <!-- slider setting -->
                                    <div class="setone setwo">
                                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination top botm "></div>

                                </div>
                            </div>

                            <br>
                            <a href="#" target="_blank"><span [outerHTML]="publication.texto"></span></a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 5'">
                        <div class="col-lg-4 col-sm-6" *ngIf="publication.idConfiguracion == 1"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-6" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <img src="'img/publicaciones/'{{publication.imagen}}" alt="" style="width: 100%;">
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-6" *ngIf="publication.idConfiguracion == 3"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a [href]="publication.url" *ngIf="publication.selecciona == 'Imagen';else no_image"
                                target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>
                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-6" *ngIf="publication.idConfiguracion == 5"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a *ngIf="publication.selecciona == 'Imagen';else no_image" href="" target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>
                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-4 col-sm-6" *ngIf="publication.idConfiguracion == 6"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div class="slider slider-prlx text-center">
                                <!-- <?php $imagenes = App\Models\Imagen::where('idPublicacion', $publicacion->id)->get(); ?> -->

                                <div class="swiper-container parallax-slider">
                                    <div class="swiper-wrapper altutra">

                                        <div class="swiper-slide" style="min-height: 43vh!important;"
                                            *ngFor="let image of images">
                                            <!-- 
                                                <div class="bg-img valign"
                                                    style="background-size: 100%!important;background-position: center!important;"
                                                    data-background="'img/publicaciones/galeria/'.{{image.imagen}}"
                                                    data-overlay-dark="6">
                                                </div> 
                                            -->
                                        </div>
                                    </div>

                                    <!-- slider setting -->
                                    <div class="setone setwo">
                                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination top botm "></div>

                                </div>
                            </div>

                            <br>
                            <a href="#" target="_blank"><span [outerHTML]="publication.texto"></span></a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="publication.modeloBloque == 'Bloque 6'">
                        <div class="col-lg-8 col-sm-12" *ngIf="publication.idConfiguracion == 1"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-8 col-sm-12" *ngIf="publication.idConfiguracion == 2"
                            style="text-align: left;margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <ng-container *ngIf="publication.selecciona == 'Imagen';else no_image">
                                <img src="'img/publicaciones/'{{publication.imagen}}" alt="" style="width: 100%;">
                            </ng-container>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-8 col-sm-12" *ngIf="publication.idConfiguracion == 3"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a [href]="publication.url" *ngIf="publication.selecciona == 'Imagen';else no_image"
                                target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>
                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>

                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-8 col-sm-12" *ngIf="publication.idConfiguracion == 5"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <a *ngIf="publication.selecciona == 'Imagen';else no_image" href="" target="_blank">
                                <img src="'img/publicaciones/'.{{publication.imagen}}" alt="" style="width: 100%;">
                            </a>

                            <ng-template #no_image>
                                <div [outerHTML]="publication.linkVideo"></div>
                            </ng-template>
                            <br>
                            <div [outerHTML]="publication.texto"></div>
                        </div>

                        <div class="col-lg-8 col-sm-12" *ngIf="publication.idConfiguracion == 6"
                            style="margin-top: 1%;margin-bottom: 1%;padding-right: 0.5%;padding-left: 0.5%;">
                            <div class="slider slider-prlx text-center">
                                <!-- <?php $imagenes = App\Models\Imagen::where('idPublicacion', $publicacion->id)->get(); ?> -->

                                <div class="swiper-container parallax-slider">
                                    <div class="swiper-wrapper altutra">

                                        <div class="swiper-slide" style="min-height: 43vh!important;"
                                            *ngFor="let image of images">
                                            <!-- 
                                                <div class="bg-img valign"
                                                    style="background-size: 100%!important;background-position: center!important;"
                                                    data-background="'img/publicaciones/galeria/'.{{image.imagen}}"
                                                    data-overlay-dark="6">
                                                </div> 
                                            -->
                                        </div>
                                    </div>

                                    <!-- slider setting -->
                                    <div class="setone setwo">
                                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                                            <i class="fas fa-chevron-left"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination top botm "></div>

                                </div>
                            </div>

                            <br>
                            <a href="#" target="_blank"><span [outerHTML]="publication.texto"></span></a>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </section>

    <ng-container *ngIf="title">

        <section class="work-carousel metro position-re" *ngIf="title.tituloTestimonioVisible === 'SI'">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h3 class="wow color-font">{{title.titleTestimonio}}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 no-padding">
                        <div class="swiper-container">
                            <div class="swiper-wrapper" *ngIf="testimonials">
                                <div class="swiper-slide" *ngFor="let testimonial of testimonials">
                                    <div class="content wow noraidus fadeInUp" data-wow-delay=".3s">
                                        <div class="item-img bg-img wow imago" style="text-align: center">
                                            <img src="'img/testimonios/'.{{testimonial.imagen}}" alt=""
                                                style="height: 200px;width: auto;">

                                            <p [outerHTML]="testimonial.texto"></p>
                                            <h6 class="color-font">{{testimonial.nombre}}</h6>
                                        </div>
                                        <!--<div class="cont">
                                            <h6 class="color-font"><a href="#0">art & illustration</a></h6>
                                            <h4><a href="project-details2.html">Innovation and Crafts.</a></h4>
                                        </div>-->
                                    </div>
                                </div>
                            </div>

                            <!-- slider setting -->
                            <div class="swiper-button-next swiper-nav-ctrl simp-next cursor-pointer">
                                <span class="simple-btn right">Next</span>
                            </div>
                            <div class="swiper-button-prev swiper-nav-ctrl simp-prev cursor-pointer">
                                <span class="simple-btn">Prev</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</div>